@charset "UTF-8";
@import "./payback.css";
@import "./mypage.css";
/*Goya FX Bot CSS*/

:root {
  --background-color: #2b2b3c;
  --background-opacity-color: rgb(27, 16, 11);
  --background-list: rgba(29, 29, 43, 0.5);
  --main-font-regular: "Pretendard-Regular";
  --main-font-semibold: "Pretendard-SemiBold";
  --main-font-bold: "Pretendard-Bold";
  --main-font-Medium: "Pretendard-Medium";
  --main-font-Light: "Pretendard-Light";
  --main-font-Mont: "Mont-Bold";
  --main-color : #ED9644;
  --main-color-dark : #FF7A00;
  --color-dark: #282828;
  --color-red: #FC5E5E;
  --color-blue: #18beff;
  --color-green: #00ff37;
  --color-green2: #008334;
  --color-gray3: #9d9d9d;
  --color-gray2: #242424;
  --color-gray1: #a6a6b4;
  --color-main: #fff;
  --color-dark-gray4: #333343;

  --text-green: #7dcd5d;
  --text-red: #ee7272;
}
body {
  position: relative;
  user-select: none;
  background: inherit;
  color: var(--color-main);
  /* background-color: var(--background-opacity-color) !important; */
  background: linear-gradient(to right, #151515,#151515)!important;
  letter-spacing: 0.5px;
  font-style: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 100vh;
  font-family: var(--main-font-Light), "Noto Sans JP", sans-serif, "Noto Sans SC", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  background: url('../image/main_bg1.png') top right !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  mix-blend-mode: lighten; 
  background-size: cover;
  z-index: -1;
}
h1 {
  font-family: var(--main-font-Mont);
  font-size: 40px;
}
p,
select,
button {
  font-family: var(--main-font-Medium), "Noto Sans JP", sans-serif,  "Noto Sans SC", sans-serif;
}
button, button:focus {
  outline: none;
}
form {
  margin: 0;
  padding: 0;
}
.dn {
  text-indent: -9999px !important;
}
.bg_color_main{
  background-color : var(--main-color-dark) !important;
}
.txt_main{
  color : var(--main-color) !important;
}
.txt_blue{
  color : var(--color-blue) !important;
}
.txt_green{
  color : var(--color-green) !important;
}
.txt_gray{
  color : var(--color-gray3) !important;
  word-break: break-all;
}
.txt_plus {
  color: var(--text-green) !important;
}
.txt_minus {
  color: var(--text-red) !important;
}
.txt_zero {
  color: var(--color-gray1) !important;
}
.warning_txt{
  color: var(--color-red);
}
.text-center{
  text-align: center !important;
}
img.logo_xs {
  max-width: 80px;
  min-width: 70px;
  width: 40%;
  height: 40px;
}
img.logo_s {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}
img.logo_l {
  width: 180px;
  height: 60px;
}
.mobile_side .menu_close {
  position: absolute;
  right: 20px;
  top:20px;
  width: 25px;
  height: 25px;
  color: #b6bee3;
  z-index: 222222;
  background: url(../image/icon_close.png) center no-repeat;
}
/* header & aside */
.header_wrap {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: var(--color-dark);
  height: 70px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 50%;
  max-width: 300px;
}
.header_logo a{
  display: block;
  width: 100%;
  height: 100%;
}
.header_logo img {
  width: 100%;
}
.header_title{
  text-align: center;
  margin-top:60px;
}
.header_title div{
  width: 300px;
  margin: 0 auto;
  padding: 15px 20px 15px 30px;
  border-radius: 8px;
  background-color: var(--color-dark);
  box-sizing: border-box;
  font-size: 25px;
}
.header_title .time_area span{
  background: url('../image/update_calendar_icon.png') center left no-repeat;
  padding-left: 30px;
}
.side_menu {
  position: fixed;
  width: 70px;
  height: 100vh;
  background-color: var(--color-dark);
}
.side_menu ul li {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: none;
}
.side_menu ul li a{
  width: 100%;
  height: 100%;
}
.side_menu ul li div{
  width: 100%;
  height: 100%;
  background-size: contain !important;
}
.side_menu ul li:first-child div{
  background: url('@/assets/image/payback_off.png') center center no-repeat;
  scale: 0.6;
}
.side_menu ul li:last-child div{
  background: url('@/assets/image/mypage_off.png') center center no-repeat;
  scale: 0.6;
}
.side_menu ul li.active:first-child div{
  background: url('@/assets/image/payback_on.png') center center no-repeat;
  scale: 1;
}
.side_menu ul li.active:last-child div{
  background: url('@/assets/image/mypage_on.png') center center no-repeat;
  scale: 1;
}
.side_menu ul li a{
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}
.side_menu.mobile_side{
  z-index: 1050;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease-in-out;
}
.side_menu.mobile_side ul{
  border-top: 2px solid var(--main-color-dark);
}
.side_menu.mobile_side ul li{
  width: 50%;
  margin:0;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
}
.side_menu.mobile_side ul li div{
  height: 50px;
}
.side_menu.mobile_side ul li:first-child div{
  background: url('@/assets/image/payback_mo_off.png') center center no-repeat;
  scale: 1;
}
.side_menu.mobile_side ul li:last-child div{
  background: url('@/assets/image/mypage_mo_off.png') center center no-repeat;
  scale: 1;
}
.side_menu.mobile_side ul li.active:first-child div{
  background: url('@/assets/image/payback_mo_on.png') center center no-repeat;
}
.side_menu.mobile_side ul li.active:last-child div{
  background: url('@/assets/image/mypage_mo_on.png') center center no-repeat;
  scale: 1;
}
.side_menu.mobile_side ul li.active{
  background-color: var(--main-color-dark);
}
.main_wrap {
  padding-top : 70px;
  padding-left: 70px;
  /* min-height: 100vh; */
  /* width: 90%; */
  /* max-width: 1420px; */
}

.main_wrap.payback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: url('../image/bg_coin.png') bottom 20% left 20% no-repeat;
  background-size: 700px;
  background-blend-mode: lighten;
  z-index: -1;
}

/* modal */
/*모달창(팝업)*/
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.modal_pop_small .popup_block {
  width: 90%;
  max-width: 550px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  outline: none;
  z-index: 12;
  border-radius: 10px;
  background: #000;
}
.modal_pop_small .smallPop {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 70px;
  border-radius: 10px;
  z-index: 10011;
}
.modal_pop_small .smallPop .pop_close {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../image/icon_close3.png") center center no-repeat;
  background-size: 16px;
  text-indent: -9999px;
  font-size: 0;
}
.modal_pop_small .smallPop .pop_title {
  position: fixed;
  width: 100%;
  height: 66px;
  padding: 20px 0 20px 0;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 22px;
  color: var(--color-main);
  background-color: var(--color-gray2);
  letter-spacing: -0.8px;
  font-weight: 500;
  z-index: 12;
}
.modal_pop_small .smallPop .pop_title p {
  display: inline-block;
  width: calc(100% - 50px);
  line-height: 1.1;
}
.modal_pop_small .smallPop .con_wrap {
  position: relative;
  padding: 70px 20px 20px;
}
.modal_pop_small .smallPop .con_wrap p {
  /* font-size: 17px; */
  font-size: 20px;
  color: var(--color-main);
  text-align: center;
  padding: 10px 0;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  word-break: break-all;
}
.fs20 {
  font-size: 20px !important;
  padding-top: 20px !important;
}
.modal_pop_small .smallPop .btn_bottom {
  position: fixed;
  left: 0;
  bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  z-index: 2;
  padding: 20px;
}
.modal_pop_small .smallPop .btn_bottom a {
  display: block;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: 0 5px;
  font-size: 17px;
  font-weight: 400;
  color: var(--color-main);
  background: var(--color-gray1);
  padding: 0 10px;
  white-space: nowrap;
}
.modal_pop_small .smallPop .btn_bottom button {
  display: block;
  border-radius: 5px;
  width: 150px;
  line-height: 50px;
  font-size: 17px;
  font-weight: 400;
  color: var(--color-main);
  background: #777;
  padding: 0 10px;
  white-space: nowrap;
  margin: 0 5px;
  letter-spacing: 0.5px;
}
.modal_pop_small .smallPop .btn_bottom a.btn_gray,
.modal_pop_small .smallPop .btn_bottom button.btn_gray {
  color: var(--color-main);
  background-color: var(--main-color-dark);
}
/* loading spinner */
.loading_spinner {
  width:calc(100vw - 140px);
  height:calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_circle {
  margin: 0 auto;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #f55f1a 94%, #0000) top / 8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #f55f1a);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: load 1.5s linear infinite;
}
.list_loading .loading_spinner {
  width:100%;
  height:300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(78, 78, 78, 0.4);
  margin-top:10px;
  margin-bottom: 120px;
  border-radius: 5px;
}
.loading_spinner_ov {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* paging */
/* pagination */

.page_wrap {
  /* width: 100%;
  display: flex;
  justify-content: center; */
  padding: 10px 0 30px;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-item {
  background-color: transparent;
  color: #25253d;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  /* cursor: pointer; */
  /* font-weight: 700; */
}
.page-item.active {
  color: var(--main-color);
}
.page-item.previous,
.page-item.next {
  cursor: pointer;
  display: flex;
} 
.page-item.previous img,
.page-item.next img {
  width: 7px;
}
.page-item.previous{
  transform: rotate(180deg);
}
.page-item.previous:hover,
.page-item.next:hover {
  background-color: #fff !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  max-height: 0px;
}

.fade-leave-from,
.fade-enter-to {
  max-height: 240px;
}


/* select language */

.right_setBox {
  position: relative;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  padding-bottom: 10px;
}
.right_setBox .selectBox {
  position: relative;
  z-index: 25;
  width: 70px;
  height: 34px;
  padding: 3px 30px 0 15px;
  font-size: 15px;
  color: var(--color-gray1);
  background: #282828 url("@/assets/image/arrow_under.png") right 12px center
    no-repeat;
  background-size: 12px;
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.right_setBox .selectBox input {
  background: none;
  width: 100%;
  height: 24px;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 15px;
  /* color: var(--color-gray1); */
  color:#fff;
  cursor: pointer;

}
.right_setBox .drowdown_box {
  display: block;
  position: absolute;
  z-index: 22;
  top: 40px;
  right: 0;
  width: 70px;
  /* height: 300px; */
  height: 160px;
  padding: 20px 5px 10px 5px;
  background: #282828;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 7px rgba(8, 1, 34, 0.4);
  padding: 15px;
}
.right_setBox .drowdown_box ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  cursor: pointer;
}
/* scroll bar 없애기 */
.right_setBox .drowdown_box ul::-webkit-scrollbar {
  display: none;
}
.right_setBox .drowdown_box ul li {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border: solid 0px #ccc;
}
.right_setBox .drowdown_box ul li a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding: 0;
  overflow: hidden;
}
.right_setBox .drowdown_box ul li a {
  overflow: hidden;
  color: var(--color-gray1);
  font-size: 13px !important;
}


.selected {
  color: #fff !important;
  font-weight: 700;
  background: url("@/assets/image/icon_check2.png") right 0px center no-repeat;
  background-size: 20px;
}
.pr{
  position: relative;
}
.und_wrap{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate( calc(-50% + 35px),-50%);
  text-align: center;
  font-size: 1.6em;
  line-height: 1.6em;
}
.und_wrap button{
  padding:10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 0.8em;
  color: #fff;
}
.month_division{
  font-size: 18px;
  margin-top:10px;
}
.month_division .flex_row_c_c{
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.month_division .flex_row_c_c li{
  width: 49%;
}
.payback_info .paybackp{
  font-size: 20px;
  margin-top: 10px;
}

/* nav btn */

.nav_btn {
  height: 23px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  background: #fff;

}
.line.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.line.line2 {
  transition: transform 0.2s ease-in-out;
}
.line.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.bounce_animation{
  animation: beat .25s 10 alternate;
  transition:  all 0.3s;
	transform-origin: center;
  animation-fill-mode:forwards;


}
@keyframes beat{
	to { transform: scale(1.4); }
}
@media screen and (max-width: 614px) {
  .right_setBox .drowdown_box {
    position: absolute;
  }
}
@media (max-width: 480px) {
  body{
    background: #151515 !important;
  }
  body::before{
    content: "";
    background: #151515 !important;
  }
  .main_wrap.payback::before{
    background: #151515 !important;
  }
  .main_wrap {
    padding-left: 0;
  }
  .und_wrap{
    transform: translate( calc(-50%),-50%);
  }
  .header_wrap{
    justify-content: center;
  }
  .header_logo img{
    width: 90px;
  }
  .header_title{
    margin-top: 30px;
  }
  .header_title div {
    width: 210px;
    font-size: 18px;
  }
  .header_locale{
    position: absolute;
    right: 10px;
  }
  .header_logo {
    width: 120px;
  }
  h1 {
    font-size: 28px;
    text-align: center;
  }
  .payback_info{
    margin: 10px 0;
  }
  .payback_info .paybackp{
    font-size: 15px;
  }
  .payback_info p span{
    display: block;
    font-size: 1.2rem;
  }
  .pf_chart{
    margin-top: 10px;
  }
}